@charset "utf-8";
#center {
	background-color: transparent;
	flex: 7;
	z-index:3;
	position: relative;
	transform: translate(0,-30px);


}
p {
	font-size: 2.3em;
	text-wrap: wrap;
	background-color: rgba(238,169,40,.85);
	margin-left: 20px;
	padding: 21px;
	padding-left: 35px;
	text-indent: 50px;
	box-shadow: 2px 1px 6px;
	border-radius: 20px;
	width:73%;
	text-align: justify;
	
}
#center img#float {
	height: 712px;
	float: right;
	shape-outside: polygon(211px 256px, 228px 180px, 262px 113px, 41.61% 6.32%, 48.43% 3.09%, 46.15% 87.92%, 34.27% 92.27%, 29.69% 88.9%, 36.28% 82.16%, 38.7% 75.79%, 31.6% 74.52%, 134px 535px, 149px 360px);
}

.float h1 {
	font-size: 2.9em;
	text-align: center;
	color: rgb(238,169,40);
	letter-spacing:3.5px;
}
#ground {
	position: absolute;
	z-index: -5;
	bottom: 40%;
	left: 40%;
	transform: translate(-50%, -50%);
	
}
#ground:active {
	position: absolute;
	z-index: 100;
	height: 800px;
	width: 1400px;
}