@charset "utf-8";

body {
	background-color: rgb(174,0,1);
}
html, body {
	margin:0;
	overflow-x: hidden;
	overflow-y: hidden;
}
/*Banner*/

div#banner {
	height: 195px;
	display: flex;
	background-color:rgb(174,0,1);
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: clip;
}
div#banner_headings { /*h1 and h2 at top*/
	z-index: 2;
	flex: 8;
	flex-direction: row;
}
#banner_headings h1 {
	background-color: rgb(174,0,1);
	z-index: 2;
	flex: 5;
	color: rgb(238,169,17);
	font-size: 3em;
}
#banner_headings h2 {
	height:95px;
	z-index: 20;
	flex: 3;
	color:rgb(238,169,17);
	font-size:1.7em;
	position: relative;
	right:0;
	text-align: right;
	padding-right: 1rem;
}
#banner img {
	flex: 8;
	height: 500px;
	z-index:1;
	width: 75%;
	max-width: 1200px;
	min-width: 600px;
	overflow: clip;
	object-fit: cover;
	transform: translate(2%, -19%);
	margin-left: auto;
	margin-right: auto;
}
/*Body*/
#body {
	display: flex;
}
/*Navigation*/
#mainNav {
	z-index: 3;
	display: flex;
	width: 100%;
	flex:2;
}
.sides {
	border-radius: 20px;
	

}
ul {
	display: flex;
	flex-direction: column;
	width: 100%;

	
}
li {
	text-decoration: none;
	position: relative;
	background-color: rgb(238,169,17);
	height: 160px;
	z-index: 3;
	border-radius: 15px;
	box-shadow: 2px 2px 4px;
	text-align: center;
	list-style-type: none;
	margin-bottom: 5px;
	

}
nav a {
	display: block;
	padding: 60px 16px;
	font-size: 2.6em;
	text-decoration: none;
	color: black;
}
span {
	visibility: hidden;
	border: 1px solid black;
	color: black;
	background-color: white;
	position: absolute;
	border-radius: 4px;
	left:65%;
	top: 30%;
	transform: translate(-50%, -50%);
}
li:hover {
	background-color: rgb(250,181,30);
}
li:active {
	background-color: rgb(220, 151,0);
}
li:hover > span {
	visibility: visible;
}
nav a:hover, span:hover + a {
	visibility: visible;
}
@media only screen and (max-width: 1196px) {
	#banner_headings h1 {

		max-height: 55px;
	}
	#banner_headings h2 {

	}
	#mainNav {
		z-index: 3;
		margin-left: auto;
		margin-right: auto;
		flex-basis: 100%;
	}
	#mainNav ul {
		display: flex;
		flex-direction: row;
		flex-basis: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-inline: 3% 3%;
		

	}
	#mainNav li {
		flex-basis: 100%;
		margin: .4rem;

	}
	#body {
		display: flex;
		flex-wrap: wrap;
	}
	html {
		overflow-y: auto;
	}
	#banner_headings h1 {
		margin-bottom: 4rem;
	}
	
}
@media only screen and (min-width: 1201px) {
	#banner_headings h1 {
		width: 601.5px;
	}
}
@media only screen and (max-width: 600px) {

}